w# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Backend
backend/.env

# typescript
*.tsbuildinfo

app-example

# generated native folders
frontend/ios
frontend/android

# Android Studio / Gradle
android_app/.gradle/
android_app/build/
android_app/app/build/
android_app/local.properties
android_app/.idea/*
!android_app/.idea/vcs.xml
android_app/*.iml
android_app/.gradle
android_app/.DS_Store
android_app/captures/
android_app/.externalNativeBuild/
android_app/.cxx/
*.apk
*.aab

